# ----------------------------------------------------------- #
# Note: this file is automatically managed in template-docker #
# ----------------------------------------------------------- #

name: readme

on:
  push:
    branches: master
    paths:
      - docs/**
      - colophon.yml
      - .github/workflows/readme.yml

jobs:
  readme:
    timeout-minutes: 5

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.5
      - uses: docker://pandoc/core:2.11.4
        with:
          args: >-
            --metadata-file=colophon.yml
            --template=docs/README.template
            --output=README.md
            --from=gfm
            --to=gfm
            --fail-if-warnings
            --wrap=preserve
            --reference-links
            docs/README.md

      - uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GH_TOKEN}}
          script: |
            const { readFileSync } = require('fs')

            const path = 'README.md'

            const content = readFileSync(`${process.env.GITHUB_WORKSPACE}/${path}`)

            const { data } = await github.rest.repos.getContent({ ...context.repo, path })

            if (Buffer.from(data.content, 'base64').compare(content) === 0) return

            await github.rest.repos.createOrUpdateFileContents({...context.repo, path,
              sha: data.sha,
              message: 'docs(readme): update readme',
              content: content.toString('base64')
            })
